* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* han */
.nav-link {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

.nav-item .nav-link:hover {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
.fourcolumns p {
  font-weight: 650;
  color: white;
}
.fourcolumns i {
  color: white;
  font-size: x-large;
}
.navbar-brand {
  height: 85px;
}

.small-img img {
  height: 100px;
  width: 150px;
  margin-top: 2px;
  opacity: 0.7;
  transition: opacity 1s;
}
.small-img img:hover {
  opacity: 1;
}
.small-img {
  max-width: auto;
  overflow-x: scroll;
}
.big-img img {
  object-fit: cover;
  height: 500px;
  width: 100%;
}
.images img {
  height: 50px;
  width: 40px;
}
.bg-grey {
  background-color: #ccd6e9;
  height: 90px;
  width: 90px;
  margin: 0 auto;
  border-radius: 50%;
}
.class img:active {
  cursor: grabbing;
}
@media (max-width: 567px) {
  #offcanvasRight {
    width: 300px; /* Full width on smaller screens */
  }
}
@media (max-width: 992px) {
  .vr {
    display: none;
  }
}

/* 
 */
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 992px) {
  .home,
  .services {
    color: red;
  }
}

.vertical-line {
  border-left: 3px solid red; /* Red vertical line */
  height: 150px; /* Set the height of the vertical line */
}

.wrapper i {
  top: 50%;
  height: 100%;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.23); */
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: -22px;
  z-index: 2;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .class .carousell {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.wrapper .class .carousell .card .img {
  opacity: 0.6;
  transition: all 0.5s;
}
.wrapper .class .carousell .card .img:hover {
  opacity: 1;
}
.btn-close {
  color: white;
}
.class .carousell::-webkit-scrollbar {
  display: none;
}
.class .carousell.no-transition {
  scroll-behavior: auto;
}
.class .carousell.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.class .carousell.dragging .card {
  cursor: grab;
  user-select: none;
}
.class .carousell :where(.card, .img) {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.class .carousell .card {
  scroll-snap-align: start;
  height: 200px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
/* .carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  } */
.card .img img {
  width: 180px;
  height: 140px;
  /* border-radius: 50%; */
  object-fit: cover;
  border: 4px solid #fff;
}
.class .carousell .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.class .carousell .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

.fa-phone:before {
  margin-right: 6px;
}

.fa-envelope:before {
  margin-right: 6px;
}

@media screen and (max-width: 900px) {
  .wrapper .class .carousell {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .class .carousell {
    grid-auto-columns: 100%;
  }
}

.posR {
  position: relative;
}
.card {
  border: none;
  background-color: gray;
}
.offcanvas-body li a {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: rgb(51, 51, 51);
  margin-top: 15px;
  line-height: 21px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.t {
  margin-left: 20px;
  margin-bottom: 5px;
}
.navbar-toggler {
  width: 44px;
  height: 40px;
  margin-right: 5px;
}

/* gallery css */
.part1 img {
  height: 210px;
  width: 100%;
}
.part2 img {
  height: 210px;
  width: 100%;
}
.gallery2,
.gallery3 {
  display: none;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: block;
  width: 80%;
  max-width: 750px;
  height: 90%;
  margin: 0 auto;
}
.close {
  position: absolute;
  top: 15px;
  right: 25px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.close button {
  position: absolute;
  top: 50%;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  cursor: pointer;
  border: none;
}

.prev {
  position: absolute;
  top: 50%;
  left: 10%;
  border: none;
}
.prev img {
  height: 40px;
  width: 40px;
}

.next {
  position: absolute;
  top: 50%;
  right: 10%;
  border: none;
}
.next img {
  height: 40px;
  width: 40px;
  border: none;
}
.close {
  color: white;
  opacity: 1;
}
.div4 img {
  cursor: pointer;
}
/* ends gallery css */

.facebook:hover {
  color: blue;
}

.instagram:hover {
  color: #e11d74;
}

.twitter:hover {
  color: #00adb5;
}
.github:hover {
  color: black;
}
